h1{
    color: rgb(155, 235, 235);
}
h3{
    color: hsl(0, 0%, 0%);
}

/* * {

    border:solid;
} */
.header{
    background-color: #3FC1C9;
    display: flex;
    justify-content: space-between;
}
.grid{
    background-color:#FC5185;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border:solid; 
}
.item{
     display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   

}
.image{
    border:solid;

}